<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>jasper-nexus</id>
            <repositories>
                <repository>
                    <id>jasper-nexus</id>
                    <name>Jasper's Nexus</name>
                    <url>https://nexus.jasperroel.nl/repository/maven-public/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>jasper-nexus</activeProfile>
    </activeProfiles>

</settings>
